<!--
    Title: _footer.html
    Author: Carl Logan
    Date: 9/9/2022
    Description: Partial template for the Pets-R-Us footer.    
-->

<!-- Provides a chance to contact Pets-R-Us with any questions -->
<footer id="footer">
  <h2 class="wordy">Contact Us</h2>
  <p class="wordy words">
    Do have questions that need answers? 
    <br>
    Enter your email below and someone will respond to provide great 
    customer service.
  </p>
  <form>
    <label for="email-input">Enter Email:</label>
    <input type="text" id="email-input">
    <button id="btnSendEmail">Send</button>
  </form>
</footer><!-- end footer -->
</body>
</html>