<!--
    Title: _header.html
    Author: Carl Logan
    Date: 9/9/2022
    Description: Partial template for the Pets-R-Us header.    
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Pets-R-Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header and nav bar for getting around the site -->
    <header>
      <nav>
        <ul id="nav-container">
          <li class="nav-items">
            <a href="/">Home</a>
          </li>
          <li class="nav-items">Services
            <div id="services-container">
              <ul>
                <li class="services-popup">
                  <a href="/boarding">Boarding</a>
                </li>
                <li class="services-popup">
                  <a href="/grooming">Grooming</a>
                </li>
                <li class="services-popup">
                  <a href="/training">Training</a>
                </li>
              </ul>
            </div><!-- end services-container -->
          </li>
          <li class="nav-items">Customers</li>
          <li class="nav-items">Book an Appointment</li>
          <li class="nav-items">My Appointments</li>
        </ul><!-- end nav-container -->
      </nav><!-- end nav -->
    </header><!-- end header -->