<!--
    Title: 404.html
    Author: Carl Logan
    Date: 9/4/2022
    Description: Assignment 4.2 - Pets-R-Us Part 1     
-->
<!DOCTYPE html>
<html>
  <head>
    <title>404 - Pets-R-Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Splash page to make a good introduction -->
    <main id="main-section">
      <!-- Billboard image to set the mood -->
      <div id="main-image">
        <div id="main-header">
          <h1>404</h1>
          <p>Page Not Found</p>
          <!-- Provide a link back to the homepage -->
          <p id="link-404"><a href="/">Click Here To Go Home</a></p>
        </div><!-- end main-header -->
      </div><!-- end main-image -->
    </main><!-- end main-section -->
  </body>
</html>