<!--
    Title: registration.html
    Author: Carl Logan
    Date: 9/17/2022
    Description: Assignment 6.2 - Pets-R-Us Part 3     
-->

    <!-- use the partial header template -->
    <%- include('./partials/_header.html') %>

    <!-- Splash page to make a good introduction -->
    <main id="main-section">
      <!-- Billboard image to set the mood -->
      <div id="main-image">
        <div id="main-header">
          <h1>Pets-R-Us</h1>
          <p>Where the Cool Pets Are Registered</p>
          <a id="btnSignUp" href="/register/#register">
            SIGN UP FOR GREAT PET SERVICES
          </a>
        </div><!-- end main-header -->
      </div><!-- end main-image -->
    </main><!-- end main-section -->

    <!-- The registration section -->
    <section id="wordy-section">
      <h2 class="wordy" id="register">Register</h2>

      <!-- submit and post the input values to the database -->
      <form class="input" action="/register" method="post">
        <label class="wordy words">Customer ID</label>
        <input type="text" name="customerId"> 
        <label class="wordy words">Email</label>
        <input type="text" name="email">
        <br>   
        <input type="submit" id="submit"></input>
      </form> 
    </section><!-- end wordy-section -->    

    <!-- use the partial footer template -->
    <%- include('./partials/_footer.html') %>